{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <section>
        <h1>Yeah!!! You are in the right place if you are looking for music tracks.</h1>
                     Welcome
                 <p>
                     Here you'll find a lot of awesome content!!!.
                 </p>

         </p>
    </section>
    <!-- /#page-content-wrapper -->
{% endblock %}